nav{
    background-color: rgb(71, 69, 68);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 0 1rem;

}

nav a {
    color: aliceblue;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: 0.3s ease;
}

main{
    max-width: px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.5rem;
    padding: 0 1rem;
}

 header,
 main,
 footer {
     width: 1000px;
     margin: 0 auto;
 }





header{
    text-align: center;
    background: coral;
    color: aliceblue;
    padding: 1rem;
}

h1{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    text-align: center;
    background-color: coral;
}

.card {
    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
    max-width: 100%;
    border-radius: 5px;
    
}

.float-right{
    float: right;
}

.float-left{
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
    max-width: 40%;
}

.card.smaller {
    max-width: 400px;
   
}

.card.smaller h3 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-left: 3rem;
    margin-bottom: 4rem;
    width: 70%;
    margin-bottom: 1rem;
    padding-bottom: 0.7rem;
    margin-bottom: 2rem;
    font-family: cursive;
    color: #363535;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #ff7f50;
    color: #f0f8ff;
    font-size: 1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.DevDeco{
    text-decoration: underline;
    margin-top: 8rem;
    list-style-type: disc;
    padding-left: 2rem;
}

figure{
    display: grid;
    grid-template-columns: 1fr;
    float: left;
}

figcaption{
    text-align: center;
    font-style: italic;
}