body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 1rem;
    background-color: #e9bac3;
    color: black;
  }

header{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #9c0221;
    color: white;
    text-align: center;
}

main {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

header,
main,
footer{
    margin: auto;
}

form{
    background-color: #e9bac3;
    color: black;
}

label,
fieldset,
textarea,
select,
input {
    display: block;
    width: 100%;
    margin-bottom: 1rem; 
}

fieldset label {
  display: inline-block;
  width: auto;
  margin-right: 1rem;
}

.star-set{
    border: none;
}

.stars{
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
}

.star-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}

.star-option label {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
  cursor: pointer;
}

.star-option input[type="radio"] {
    transform: scale(1.2);
    cursor: pointer;
}

.checkbox-group {
    border: none;
    margin: 1rem 0;
    padding: 1rem;
}

.checkbox-group legend {
    margin-bottom: 0.5rem;
}

.checkbox-group label {
    align-items: center;
    display: flex;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    gap: 0.5rem;
    width: auto;
    color: #333;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: auto;
    margin-bottom: 0.5rem;
}

.checkbox-group input[type="checkbox"] {
    width: auto;
}


input[type="submit"] {
  width: auto;
  padding: 0.5rem 3rem;
  background: white;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button {
    text-align: center;
}

.submit-button input[type="submit"] {
    margin: auto; 
}

.optional {
    font-size: 0.9rem;
    color: #31077e;
    font-style: italic; 
}

.check{
    font-style: italic;
    font-size: 0.9rem;
}

footer{
    background-color: #9c0221;
    color: white;
    text-align: center;
}