:root{
    --main-color: #5a189a;
    --text-color: #f8f5f5;
    --background-color: #fff;
    --accent-col:  #5a189a;
}


header{
    background-color: var(--main-color);
    color: var(--text-color);
    text-align: center;
}

nav{
    background-color: var(--accent-col);
    display: none;
}

header,
main,
footer{
    max-width: 1000px;
    margin: auto;
}

main{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.weather h2 span {
    margin-right: 0.8rem; }

footer{
    background-color: var(--main-color);
    color: var(--text-color);
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Make them side-by-side on wider screens */
@media (min-width: 600px) {
    .info, .weather {
        position: static;
        margin: 1rem auto;
        width: 80%;
    }

    .hero {
        display: block;
    }

        .hero img {
            width: 100%;
            height: auto;
        }
}