body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0; 
}

header{
    background-color: #F05E29;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header,
main,
footer {
    width: 1000px;
    margin: 0 auto;
}

nav{
    flex-direction: column;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0.45rem;
}

nav a:hover {
    background-color: #555; 
}



button{
    display: none;
}


.gallery{
    display: grid;
    grid-template-columns:  repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    margin: auto;
    padding: 20px;
    max-width:800px;
}

.gallery figure {
    margin: 0;
    background-color: #f9f9f9;
    border-radius: 2px;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery figcaption {
    margin-top: 0.5rem;
    font-size: 1rem;
    color: #333; }

.gallery img {
    width: 100%;
    height: auto;
    display: block; }

#menu-toggle {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white; }

figure {
    margin: 0; }

h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer{
    text-align: center;
    background-color: #F05E29;
    color: #ffffff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Show menu toggle button and hide nav links on small screens */
@media (max-width: 768px) {
    #menu-toggle {
        display: block;
    }

    #nav-menu {
        flex-direction: column;
        background-color: #333;
    }

    #nav-menu a {
        padding: 10px;
        display: block;
        color: white;
    } 

    .gallery figcaption {
        font-size: 0.9rem;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
        gap: 10px;
        padding: 1rem;
    }

}